{
    "env": {
        "browser": true
        },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        newline-per-chained-call: [error, { "ignoreChainWithDepth": 2 }],
        no-console: 0,
        radix: 0
    },
}